

script(type="text/javascript").
  window.localizedData = null;
  window.settings = null;
script(type="text/javascript" src="/js/Site.bundle.js?version=1712922370599")
script(type="text/javascript" src="/js/libraries/bootstrap@5/bootstrap-5.3.2.min.js")
